@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: #DEDBD4;
    color: #2B2823;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1.5px;
    font-size: 25px;
    font-weight: 600;
  }

  *{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }

  nav{
    height: 174px;
    width: 100%;
  
  }

  img.logo {
    display:inline;
    margin-left: 6%;
    padding-top: 20px;
    max-width: 295px;
    text-decoration: none;
  }

  .logolink {
    text-decoration: none;
  }

  nav ul {
    float: right;
    margin-right: 6%;
    padding-top: 45px;
    z-index: 150;
  }

  nav ul li {
    display: inline-block;
    margin: 20px;
  }

  nav ul li a{
    color:#969696
  }

a.active, a:hover{
    color: #2B2823;
}

.checkbtn {
    font-size: 40px;
    color:#2B2823;
    float: right;
    margin-right: 58px;
    padding-top: 58px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1386px) {
  img.logo {
      margin-left: 6%;
  }
  nav ul {
    margin-right: 3%;
  }
}


@media (max-width: 952px) {
    nav ul li a{
        font-size: 25px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display:block
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3d363a;
        top: 160px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }
    nav ul li {
        display:block;
    
    }
    li a {
        margin-left: 8px;
      
    }

    a:hover, a.active {
        color:#fefffe
    }
}    

#check:checked ~ ul{
    left: 0;
}

.title {
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.5px;
  padding-bottom: 4px;
  color: #82ab84;
}

.titlehide {
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.5px;
  padding-bottom: 4px;
  color: #82ab84;
  display:block;
}

.title2 {
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.5px;
  padding-bottom: 4px;
  color: #AB8286;
}

#check {
    display: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 25px 20px 25px;
}

.galleryTan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  max-width: 642px;
  height: 451px;
  object-fit: cover;
}

.galleryTan img {
  width: 100%;
  max-width: 30%;
  object-fit: cover;
  padding-top: 30px;
}

.galleryKaf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.galleryKaf img {
  width: 100%;
  max-width: 30%;
  object-fit: cover;
  padding-top: 30px;
}

.headertan {
  display:flex;
  margin-left: 18%;
  margin-right: 2.5%;
  padding-top: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -1.5px;
  max-width: 800px;
  text-align: left;
}

.desctan {
  font-size: 1.4rem;
  margin-left: 18%;
  padding-top: 10px;
  padding-bottom: 100px;
}

.headerkaf {
  display:flex;
  margin-left: 18%;
  margin-right: 2.5%;
  padding-top: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -1.5px;
  max-width: 620px;
}

.desckaf {
  font-size: 1.4rem;
  margin-left: 18%;
  padding-top: 10px;
  padding-bottom: 100px;
  max-width: 900px;
}

.headerjot {
  display:flex;
  margin-left: 9%;
  margin-right: 2.5%;
  padding-top: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -1.5px;
  max-width: 75%;
}

.descjot {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1.5px;
  margin-left: 9%;
  padding-top: 10px;
  padding-bottom: 100px;
  max-width: 75%;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 87%;
  margin-left: 6%;
  margin-right: 6%;
  padding-bottom: 30px;
}

.player{
  margin-left: 6%;
  margin-right: 6%;
}

.bandcamp {
  max-width: 600px;
}

.duds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-right: 6%;
  gap: 40px;
}

.headerduds {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  width: 50%;
}

.descduds {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 10px;
  letter-spacing: -1.5px;
  max-width: 100%;
  margin-bottom: 200px;
}

.ppcrew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6%;
  margin-right: 6%;
  gap: 40px;
}

.abouthead {
  background: #2B2823;
  color: #DEDBD4;
  padding: 3%;
  padding-left: 20%;
  line-height: 49px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2.5px;
}

.meside {
  padding-left: 20%;
  padding-top: 5%;
  max-width: 100%;
  max-height: 100%;
}

.abouttext {
  float: right;
  max-width: 40%;
  padding-top: 5%;
  padding-right: 5%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0;
}

.aboutlayout {
    gap: 80px;
    display: flex;
    padding-bottom: 100px;
}

.prototype {
  color:#AB8286
}

.prototype:hover {
  color:#B63333
}

.aboutpar {
  padding-bottom: 40px;
}

.CV {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1.5px;
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
    background-color: #2B2823;
    color: #DEDBD4;
    border-radius: 10px;
    border: #2B2823;
    margin-right:6%;
}

.contact {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1.5px;
    font-size: 25px;
    padding: 18px;
    font-weight: 600;
    background-color: #DEDBD4;
    color: #2B2823;
    border-radius: 10px;
    border-color: #2B2823;
}

.contactpage {
  margin-left: 6%;
  margin-right: 6%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
}

.contacttext {
  font-weight: 400;
  font-size: 18px;
  max-width: 60%;
}

.contactform {
  max-width: 60%;
}


button:hover {
  cursor:pointer;
}

.CV:hover, .contact:hover {
  background-color: #AB8286;
  color: #DEDBD4;
}

.buttons a {
  text-decoration: none;
}

@media (max-width:1364px) {
  .titlehide {
    display: none;
  }
}

@media (max-width:1005px) {
  .headertan, .headerkaf, .desckaf, .player, .desctan {
    margin-left: 5%;
    /*font-size: calc(1vw + 0.8rem);*/
  }


}

@media (max-width:1005px) {
  /*.descduds, .banner, .duds, .ppcrew, {
    margin-left: 2.5%;
  }*/

  .descduds, .descjot {
    width:90%;
    font-size: 18px;
  }
  
  .banner {
    padding-top: 0px;
  }

  .headerduds, .headerjot {
    width: 100%;
    font-size: 20px;
  }
  
  .meside, .abouttext, .abouthead {
    padding-left: 2.5%;
    max-width: 100%;
  }
  .aboutlayout {
    gap: 20px;
  }
  .abouthead {
    padding-left: 6%;
  }
}


@media (max-width:637px) {
  .abouttext {
    margin: 2%;
  }
  .galleryTan, .galleryKaf {
    flex-direction: column;
  }
  .galleryTan img {
    max-width: 90%;
    padding-top: 0px;
  }
  .headerjot, .descjot {
    margin-left: 7%;
  }
  .galleryKaf img {
    max-width: 85%;
    padding-top: 0px;
  }
  .headertan, .headerkaf, .desckaf, .player, .desctan {
    margin-left: 6%;
    margin-right: 5%;
  }
  .headertan, .headerkaf, .desctan, .desckaf  {
    padding-top: 10px;
    font-size: 20px;
  }

  .desctan, .desckaf {
    font-weight: 600;
    font-size: 18px;
    font-weight: 500;
  }
  .contacttext {
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
  }

  .contactpage {
    padding-top: 0px;
  }
  .contactform {
    max-width: 100%;
  }
}

@media (max-width:500px) {
  .meside {
    display:none;
  }
  img.logo {
    max-width:230px;
    padding-top: 35px;
    margin-left: 5%;
  }
  .checkbtn {
    font-size: 30px;
    margin-right: 9%;
  }
  .gallery img{
    max-height: 340px;
  }
  .abouthead {
    font-size: 35px;
    line-height: 37px;
    padding-left: 6%;
  }
  .abouttext {
    padding-left: 6%;
  }
}






